html {
    box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'OpenSanse';
    src: local('OpenSans-Regular'), 
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
   font-weight: 400; 
   font-style: normal;
   font-display: swap;
}

@font-face {
    font-family: 'OpenSanse';
    src: local('OpenSans-Bold'), 
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
   font-weight: 300; 
   font-style: normal;
   font-display: swap;
}

@font-face {
    font-family: 'OpenSanse';
    src: local('OpenSans-Light'), 
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
   font-weight: 300; 
   font-style: normal;
   font-display: swap;
}

@font-face {
    font-family: 'OpenSanse';
    src: local('OpenSans-Regular'), 
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
   font-weight: 600; 
   font-style: normal;
   font-display: swap;
}

body {
    min-width: 1000px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
}

/* GLOB */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 40px;
}

.section-descr {
    margin: 0;
    margin-bottom: 50px;
}

.section-offset {
padding-top: 87px;
padding-bottom: 160px;
}

/* HEADER */

.header {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

.header-container {
    align-items: center;
}

.header-container-2 {
    background-color: rgba(255, 255, 255, 1);
}

.header-logo {
    margin-right: 40px;
}

.contacts-item-link {
    margin-right: 550px;
}

.header-link {
    position:relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(102, 102, 102, 1);
    white-space: nowrap;
    transition: color 0.3s ease-in-out;
}

.header-link:focus {
    outline-offset: 2px;
    outline: 1px solid rgba(204, 153, 51, 1);
}

.header-link:hover {
    color: rgba(204, 153, 51, 1);
}

.header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(164, 115, 18, 1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header-link:active {
    color: rgba(164, 115, 18, 1);
    outline: none;
}

.header-link:active::after {
    opacity: 1;
}

.contacts-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: rgba(102, 102, 102, 1); 
    white-space: nowrap;
    transition: color 0.3s ease-in-out
}

.contacts-item-link:focus {
    outline-offset: 2px;
    outline: 1px solid rgba(204, 153, 51, 1);
}

.contacts-item-link:hover {
    color: rgba(204, 153, 51, 1);
}

.contacts-item-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(164, 115, 18, 1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out
}

.contacts-item-link:active {
    color: rgba(164, 115, 18, 1);
    outline: none;
}

.contacts-item-link:active::after {
    opacity: 1;
}


.head-btn-top {
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: rgba(204, 153, 51, 1);
   background-color: #fff;
   border: 1px solid #fff;
   padding-left: 28px;
   white-space: nowrap;
}

.header-container-2 {
    padding-top: 30px;
    align-items: center;
}

.header-list {
    padding-left: 45px;
    margin-right: 114px;
}

.header-list-item {
    margin-right: 52px;
}

.head-btn-bottom {
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(204, 153, 51, 1);
    padding: 13px 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(204, 153, 51, 1);
    white-space: nowrap;
}

/* СПЕЦПРЕДЛОЖЕНИЯ */

.articles-aside {
    margin-left: 45px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(51, 51, 51, 1);
}

.articles-list {
    flex-wrap: wrap;
   padding: 20px;

}

.articles-item1 {
    width: 573px;
    height: 258px;
    margin-bottom: 24px;
    margin-right: 24px;
    background-image: linear-gradient(to right, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0)),
    url(../img/blog-1.jpg);
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: start;
}

.articles-item3 {
    width: 573px;
    height: 540px;
    margin: 0;
    padding: 0;
    margin-top: -584px;
    margin-left: 640px;
    background-image: url(../img/blog-3.jpg);
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: start;
}

.articles-item2 {
    width: 573px;
    height: 258px;
    margin-bottom: 24px;
    margin-right: 24px;
    background-image: linear-gradient(to right, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0)),
    url(../img/blog-2.jpg);
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: start;
}

.blog-prewiew-title-left {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    
}

.blog-prewiew-title-right {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: rgba(255, 255, 255, 1);
    
}

.blog-preview-text {
    margin-top: 40px;
    padding-left: 45px;
}

.blog-preview-descr-left {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}

.blog-preview-descr-right {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}

.aside-btn {
    margin-top: 47px;
}

.blog-preview-text1 {
    margin-top: 212px;
    padding-left: 45px;
}

.blog-prewiew-descr-left {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.aside-btn {
    margin-top: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(240, 191, 95, 1);
    border: none;
    background-color: transparent;
   padding-right: 20px;
}

/* О НАС */

.section-offset {
    padding: 45px;
    text-align: left;
}

.blog-header {
    padding-left: 30px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(51, 51, 51, 1);
} 

.blog-header-descr {
    padding-left: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 1);
} 

/* УСЛУГИ */

.articles-title {
    margin-left: 45px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(51, 51, 51, 1);
}

.articles-list-1 {
    flex-wrap: wrap;
    margin-left: 24px;
}

.articles-item-1 {
    width: 573px;
    outline: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    border-radius: 15px
}

.articles-item-1:not(:nth-child(2n)) {
    margin-right: 24px;
}

.blog-preview-image {
    object-fit: cover;
}

.blog-preview-text-1 {
    padding: 26px;
}

.blog-preview-descr-1 {
    margin-left: 8px;
    display: block;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 1);

}

.blog-preview-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: rgba(240, 191, 95, 1);
    border: none;
    background-color: transparent;
   padding-right: 23px;
   white-space: nowrap;
}

/* ПРЕИМУЩЕСТВА */

.advantage-title {
    text-align: left;
    margin-left: 45px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(51, 51, 51, 1);
}

.advantage-items {
    flex-wrap: wrap;
}

.advantage-item {
    border-radius: 15px;
    flex-direction: column;
    align-items: left;
    width: 276px;
    outline: 1px solid rgba(255, 255, 255, 1);
   margin-bottom: 22px;
   margin-left: 22px;
}

.advantage-item-icon {
    padding-top: 40px;
    padding-left: 45px;
}

.advantage-item-descr {
   margin: 0;
   margin-bottom: 32px;
   padding-left: 45px;
   padding-right: 42px;
   padding-top: 32px;
   font-weight: 400;
   font-size: 16px;
   line-height: 32px;
}

/* РАЗМЕЩЕНИЕ */

.placement-title {
    text-align: left;
    margin-left: 45px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(51, 51, 51, 1);
}

.placement-list {
    flex-wrap: wrap;
}

.placement-item {
    flex-direction: column;
    align-items: left;
    width: 374px;
   margin-bottom: 24px;
   margin-left: 24px;
   outline: 1px solid rgba(255, 255, 255, 1);
   border-radius: 15px;
}

.blog-preview {
overflow: hidden;
border: rgba(255, 255, 255, 1);
border-radius: 15px;

}

.blog-preview-star {
    margin-top: 36px;
    padding-left: 52px;
}

.placement-cost {
    margin: 0;
    padding-left: 45px;
}

.placement-cost-start {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
    margin-right: 4px;
    margin-top: 36px;
}

.placement-cost-mid {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    margin-right: 4px;
    margin-top: 32px;
}

.placement-cost-end {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    margin-right: 4px;
    margin-top: 36px;
}

.blog-preview-descr {
    margin: 0;
    margin-bottom: 16px;
    padding-left: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
}

.link-preview-location {
    margin: 0;
    margin-bottom: 16px;
    padding-left: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
}

.prew-btn {
    margin: 0;
    margin-bottom: 16px;
    margin-left: 45px;
    margin-bottom: 45px;
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(204, 153, 51, 1);
    padding: 13px 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(204, 153, 51, 1);
    white-space: nowrap;
}

/* 9 картинка */

.placement-item1 {
    width: 374px;
    height: 440px;
   margin-bottom: 24px;
   margin-left: 24px;
   background-image: url(../img/place-9.jpg);
   border-radius: 15px;
   outline: 1px solid rgba(255, 255, 255, 1);
}

.placement-btn {
    position: absolute;
    margin-top: 373px;
    margin-left: 45px;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 20px;
    font-weight: 40px;
    color: rgba(255, 255, 255, 1);
    border: none;
    background-color: transparent;
   padding-right: 23px;
   white-space: nowrap;
}

/* ХОЧУ ТУР */

.hochy-tur-title {
    text-align: start;
    margin-left: 45px;
}

.form {
    margin-left: 73px;
}

.hochy-tur-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}

.form-tur {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, 1);
}

.selection {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    margin-right: 77px;
    border: 1px solid rgba(233, 233, 233, 1);
}

.selection-sity {
    margin-right: 41px;
    width: 169px;
    height: 43px;
}

.sity-selection {
    width: 133px;
    height: 22px;
}

.selection-country {
    margin-right: 41px;
    width: 169px;
    height: 43px;
}

.country-selection {
    width: 133px;
    height: 22px;
}

.selection-data {
    margin-right: 41px;
    width: 121px;
    height: 45px;
}

.data-selection {
    width: 121px;
    height: 22px;
}

.selection-night {
    margin-right: 41px;
    width: 121px;
    height: 45px;
}

.night-selection {
    width: 121px;
    height: 22px; 
}

.selection-tourists {
    margin-right: 41px;
    width: 169px;
    height: 45px;
}

.tourists-selection {
    width: 121px;
    height: 22px;
}

.btn-select {
    margin: 0;
    padding: 0;
    margin-top: -32px;
    margin-left: 944px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(204, 153, 51, 1);
    padding: 13px 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(204, 153, 51, 1);
    white-space: nowrap;
}

/* КОНТАКТЫ */

.section-left {
    width: 375px;
    height: 528px;
}

.left-title {
    text-align: left;
    margin-left: 45px;
}

.left-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}

.section-left-title-addres {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    margin-right: 83px;
}

.section-left-descr-addres {
    font-weight: 400;
    font-size: 16;
    line-height: 24px;
    color: rgba(0, 0, 0, 1); 
}

.section-left-title-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    margin-right: 47px;
}

.section-left-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(204, 153, 51, 1);
    padding-top: 25px;
    padding-bottom: 25px;
    transition: color 0.3s ease-in-out
}

.section-left-phone:focus {
    outline-offset: 2px;
    outline: 1px solid rgba(204, 153, 51, 1);
}

.section-left-phone:hover {
    color: rgba(204, 153, 51, 1);
}

.section-left-phone::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(164, 115, 18, 1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out
}

.section-left-phone:active {
    color: rgba(164, 115, 18, 1);
    outline: none;
}

.section-left-phone:active::after {
    opacity: 1;
}

.section-left-title-mail {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    margin-right: 93px;
}

.contacts-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(204, 153, 51, 1);
    transition: color 0.3s ease-in-out
}

.contacts-item-link:focus {
    outline-offset: 2px;
    outline: 1px solid rgba(204, 153, 51, 1);
}

.contacts-item-link:hover {
    color: rgba(204, 153, 51, 1);
}

.contacts-item-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(164, 115, 18, 1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out
}

.contacts-item-link:active {
    color: rgba(164, 115, 18, 1);
    outline: none;
}

.contacts-item-link:active::after {
    opacity: 1;
}

.input-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(153, 153, 153, 1);
    width: 223px;
    height: 24px;
}

.section-left-title-work {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    margin-right: 74px;
}

.section-left-descr-work {
    font-weight: 400;
    font-size: 16;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.btn-section-left {
    margin: 0;
    margin-bottom: 16px;
    margin-left: 45px;
    margin-bottom: 45px;
    margin-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(204, 153, 51, 1);
    padding: 27px 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(204, 153, 51, 1);
    white-space: nowrap; 
}

.section-right {
    width: 653px;
    height: 528px;
    margin-left: 97px;
}

.contacts-picture {
    width: 653px;
    height: 528px;
}

/* FOOTER  */

.footer-container {
    width: 1170px;
    height: 341px;
    border-radius: 15px;
    background-color: rgba(51, 51, 51, 1);
}

.left-descr {
    font-size: 400;
    font-weight: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    margin-left: 45px;
    padding-top: 45px;
    white-space: nowrap;
}

.footer-btn {
    margin-top: 40px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(240, 191, 95, 1);
    border: none;
    background-color: transparent;
    background-position: right;
   background-size: 20px 20px;
   background-repeat: no-repeat;
   padding-right: 20px;
   white-space: nowrap;
}

.section-right {
    margin-left: 125px;
}

.section-right-descr {
    font-size: 400;
    font-weight: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    margin-right: 125px;
    padding-top: 45px;
    white-space: nowrap;
}

.footer-phone-1 {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(204, 153, 51, 1);
}

.footer-phone-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(204, 153, 51, 1);
}

.footer-mail {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(204, 153, 51, 1);
}

.footer-icon-sun {
    margin-top: -88px;
    margin-left: 270px;
}

/* .footer-icon-sun {
    position: relative;
    outline: none; 
}

.footer-icon-sun::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.footer-icon-sun svg {
    fill: rgba(153, 153, 153, 1);
}

.footer-icon-sun:focus::after {
    color: rgba(204, 153, 51, 1);
    opacity: 1;
}

.footer-icon-sun:focus::after svg {
    fill: rgba(204, 153, 51, 1);
}

.footer-icon-sun:hover {
    color: rgba(240, 191, 95, 1);
    opacity: 1;
}

.footer-icon-sun:hover svg {
    fill: rgba(240, 191, 95, 1);
}

.footer-icon-sun:active {
    color: rgba(164, 115, 18, 1);
}

.footer-icon-sun:active svg {
    fill: rgba(204, 153, 51, 1);
}


.footer-icon-sun:active::after {
    opacity: 0;
} */

.footer-items {
    align-items: right;
    margin-left: 650px;
    margin-top: -310px;
}

.footer-link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-top: 20px;
}

.social-link-linkedin {
    position: relative;
    outline: none; 
}

.social-link-linkedin::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
}

.social-link-linkedin svg {
    fill: rgba(153, 153, 153, 1);
    transition: fill 0.3s ease-in-out
}

.social-link-linkedin:focus::after {
    color: rgba(204, 153, 51, 1);
    opacity: 1;
}

.social-link-linkedin:focus::after svg {
    fill: rgba(204, 153, 51, 1);
}

.social-link-linkedin:hover {
    color: rgba(240, 191, 95, 1);
    opacity: 1;
}

.social-link-linkedin:hover svg {
    fill: rgba(240, 191, 95, 1);
}

.social-link-linkedin:active {
    color: rgba(164, 115, 18, 1);
}

.social-link-linkedin:active svg {
    fill: rgba(204, 153, 51, 1);
}


.social-link-linkedin:active::after {
    opacity: 0;
}

.social-link-twitter {
    position: relative;
    outline: none; 
}

.social-link-twitter::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
}

.social-link-twitter svg {
    fill: rgba(153, 153, 153, 1);
    transition: fill 0.3s ease-in-out
}

.social-link-twitter:focus::after {
    color: rgba(204, 153, 51, 1);
    opacity: 1;
}

.social-link-twitter:focus::after svg {
    fill: rgba(204, 153, 51, 1);
}

.social-link-twitter:hover {
    color: rgba(240, 191, 95, 1);
    opacity: 1;
}

.social-link-twitter:hover svg {
    fill: rgba(240, 191, 95, 1);
}

.social-link-twitter:active {
    color: rgba(164, 115, 18, 1);
}

.social-link-twitter:active svg {
    fill: rgba(204, 153, 51, 1);
}


.social-link-twitter:active::after {
    opacity: 0;
}

.social-link-mail {
    position: relative;
    outline: none; 
}

.social-link-mail::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
}

.social-link-mail svg {
    fill: rgba(153, 153, 153, 1);
    transition: fill 0.3s ease-in-out
}

.social-link-mail:focus::after {
    color: rgba(204, 153, 51, 1);
    opacity: 1;
}

.social-link-mail:focus::after svg {
    fill: rgba(204, 153, 51, 1);
}

.social-link-mail:hover {
    color: rgba(240, 191, 95, 1);
    opacity: 1;
}

.social-link-mail:hover svg {
    fill: rgba(240, 191, 95, 1);
}

.social-link-mail:active {
    color: rgba(164, 115, 18, 1);
}

.social-link-mail:active svg {
    fill: rgba(204, 153, 51, 1);
}


.social-link-mail:active::after {
    opacity: 0;
}

/* КНОПКИ */

.btn {
    position: relative;
    outline: none; 
    transition: background-color 0.3s ease-in-out;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
    opacity: 1;
}

.btn:hover {
    background-color: rgba(204, 153, 51, 1);
    color: #fff
}

.btn:active {
    background-color: rgba(164, 115, 18, 1);
    color: #fff
}

.btn:active::after {
    opacity: 0;
}

.btn-1 {
    position: relative;
    outline: none; 
    transition: color 0.3s ease-in-out
}

.btn-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
    transition: opacity 0.3s ease-in-out
}

.btn-1 svg {
    fill:rgba(204, 153, 51, 1);
}

.btn-1:focus::after {
    color: rgba(204, 153, 51, 1);
    opacity: 1;
    outline: 1px solid rgba(204, 153, 51, 1);
}

.btn-1:focus::after svg {
    fill: rgba(204, 153, 51, 1);
}

.btn-1:hover {
    color: rgba(240, 191, 95, 1);
    opacity: 1;
}

.btn-1:hover svg {
    fill: rgba(240, 191, 95, 1);
}

.btn-1:active {
    color: rgba(164, 115, 18, 1);
}

.btn-1:active svg {
    fill: rgba(204, 153, 51, 1);
}


.btn-1:active::after {
    opacity: 0;
}

.btn-2 {
    position: relative;
    outline: none; 
    display: flex;
    transition: color 0.3s ease-in-out;
}

.btn-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

.btn-2:focus::after {
    color: rgba(240, 191, 95, 1);
    opacity: 1;
}

.btn-2:hover {
    color: rgba(240, 191, 95, 1);
    opacity: 1;
}

.btn-2:active {
    color:rgba(255, 255, 255, 1);
}

.btn-2:active::after {
    opacity: 0;
}

.btn-3 {
    position: relative;
    outline: none; 
    transition: color 0.3s ease-in-out
}

.btn-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

.btn-3:focus::after {
    color: rgba(204, 153, 51, 1);
    opacity: 1;
}

.btn-3:hover {
    color: rgba(240, 191, 95, 1);
    opacity: 1;
}

.btn-3:active {
    color: rgba(164, 115, 18, 1);
}

.btn-3:active::after {
    opacity: 0;
}

.galka {
    margin: 0;
    margin-top: 47px;
    margin-left: -15px;
}

.galka-2 {
    margin: 0;
    margin-top: 13px;
    margin-left: -15px;
}